* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(90, 195, 197), rgb(142, 238, 53));
}

h1 {
    background-color: rgb(8, 6, 16);
    color: rgb(255, 223, 182);
    height: 5rem;
}

.choice {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: #352323;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

#msg {
    background-color: floralwhite;
    color: #352323;
    height: 3rem;
    border: 1px solid gray;
    border-radius: 20px;
    cursor: pointer;
}